
@{
    ViewBag.Title = "Youngertimer Car";
}


<header class="headerBackground">
    <h1 class="topTitle">Youngtimer Car</h1>
    <div class="navbar-container"></div>
    <section class="intro">
        <h2 class="topTitle">Welcome to Youngtimer Car</h2>
        <p>
            Explore our website to learn more about our services, our cars, and how
            to book your perfect rental.
        </p>
    </section>
</header>

<main>
    <section class="featured-cars">
        <div class="description-container">
            <div class="description-text">
                <h1>Your Dream Awaits</h1>
                <p>
                    We are a company that is specializing on youngtimer and classic car
                    rentals. Our fleet includes a wide range of cars from various eras,
                    perfect for any occasion. Now is the prime moment to acquire one of
                    these remarkable automobiles, sourced not only from Japan but also
                    from Germany, England, USA, and Italy.
                </p>
                <p>
                    Our expertise lies in providing cars from various regions, including
                    Japan, Germany, England, USA, and Italy, for both immediate purchase
                    and custom orders spanning several years. If your desired car isn't
                    in our current inventory, rest assured, we'll locate and procure the
                    perfect vehicle for you directly from these countries.
                </p>
            </div>
            <div class="description-image"></div>
        </div>
        <section class="container-featured-cars featured-parent">
            <div class="container-featured-cars">
                <article class="container-cars-for-sale">
                    <a href="">
                        <div class="container-item-content">
                            <h3>Cars for Sale</h3>
                            <div class="featured-background"></div>
                        </div>
                    </a>
                </article>
                <article class="container-coming-soon-cars">
                    <a href="">
                        <div class="container-item-content">
                            <h3>Coming Soon</h3>
                            <div class="featured-background"></div>
                        </div>
                    </a>
                </article>
                <article class="container-sold-cars">
                    <a href="">
                        <div class="container-item-content">
                            <h3>Sold</h3>
                            <div class="featured-background"></div>
                        </div>
                    </a>
                </article>
            </div>
        </section>
    </section>
</main>