h1.TopTitle {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 1rem;
}

section .TopTitle {

}